extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal
      h2  #{filme.title}

    .w3-container.w3-padding

      p
        b Ano:
        |  #{filme.year}

      p
        b Elenco:
      each a in filme.cast
        a.w3-btn.w3-round.w3-light-grey.w3-small.w3-margin-bottom(href=`/atores/${a.id}`) #{a.nome}

      p
        b Géneros:
      each g in filme.genres
        a.w3-btn.w3-round.w3-blue.w3-small.w3-margin-bottom(href=`/generos/${g.id}`) #{g.nome}

      br
      a.w3-btn.w3-grey(href="/filmes") ← Voltar à lista